<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{$title}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel = "stylesheet" href = "http://159.203.112.148:8080/virtual_classroom/{$bootstrapCss}"/>
    <link rel = "stylesheet" href = "http://159.203.112.148:8080/virtual_classroom/views/User/css/main.css"/>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><img class = "gravatar" src = "{$gravatar}"/></h1>
				<a href="#nav">Menú</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class = "links">
								<li>
										<a href = "Index">Inicio</a>
								</li>								
								<li>
										<a href = "#">Cursos</a>
								</li>
								<li>
										<a href = "#">Perfil</a>
								</li>
								<li>
										<a href = "#">Configuración</a>
								</li>
						</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>{$title}</h2>
						<p>Cuenta Inscrita bajo correo electrónico: {$email}</p>
            <p>Ha sido activada, se le redigirá a la página principal dentro de 5 segundos</p>
            <p>Si no ocurre nada en 5 segundos, puede hacer clic <a href = "http://159.203.112.148:8080/virtual_classroom/">aquí</a></p>
					</header>
        </div>
        </section>
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
          <ul class="copyright">
              <li>{$applicationCompany}</li>
              <li>Imágenes: <a href="http://unsplash.com">Unsplash</a>.</li>
              <li>Diseño: <a href="http://templated.co">TEMPLATED</a>.</li>
          </ul>
				</div>
			</footer>

		<!-- Scripts -->

			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src = "http://159.203.112.148/virtual_classroom/{$jquery}"></script>
      <script src = "http://159.203.112.148/virtual_classroom/views/User/js/skel.min.js"></script>
      <script src = "http://159.203.112.148/virtual_classroom/views/User/js/util.js"></script>
      <script src = "http://159.203.112.148/virtual_classroom/views/User/js/main.js"></script>
      <script src = "http://159.203.112.148/virtual_classroom/views/User/js/confirmUser.js"></script>
	</body>
</html>
