<!DOCTYPE HTML>
<html>
		<head>
				<title>{$title}</title>
				<meta charset = "utf-8"/>
				<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>				
				<link rel = "stylesheet" href = "{$bootstrapCss}"/>
				<link rel = "stylesheet" href = "{$bootstrapValidatorCss}"/>				
				<link rel = "stylesheet" href = "views/User/css/main.css"/>
		</head>
		<body class = "landing">
				<header id = "header" class = "alt">
						<a href = "#nav">Menú</a>
				</header>
				<nav id = "nav">
						<ul class = "links">
								<li>										
										<a href = "Index">
											<span class = "glyphicon glyphicon-home"></span>
											Inicio
										</a>
								</li>

								<li>
										<a href = "Course">
											<span class = "glyphicon glyphicon-book"></span>
											Cursos
										</a>
								</li>
								<li>
										<a href = "User?go=profile">
											<span class = "glyphicon glyphicon-education"></span>
											Perfil
										</a>
								</li>
								<li>										
										<a href = "User/control">
											<span class = "glyphicon glyphicon-user"></span>
											Control de usuarios
										</a>
								</li>
								<li>										
										<a href = "#">
											<span class = "glyphicon glyphicon-cog"></span>
											Configuración
										</a>
								</li>
								<li>
										<a id = "closeAccount" href = "#">
											<span class = "glyphicon glyphicon-log-out"></span>
											Salir
										</a>
								</li>
						</ul>
				</nav>
				<section id = "banner">
						<div id = "img-container">
								<img src = "public/img/unicor.png" width = "100"/>
						</div>
						<h2 id = "h-login">Conéctate</h2>
						<div class = "inner">
								<header class = "major narrow">
										<p id = "p-login">Ingresa a nuestra plataforma con tu cuenta personal</p>
								</header>
								<form id = "sign-in-form">
										<div class = "container 75%">
												<div class = "row uniform 50%">
														<div class = "12u 12u$(xsmall)">
																<div class = "form-group row">
																		<input id = "signInEmail" class = "form-control" name = "signInEmail" placeholder = "Correo electrónico" type = "email"/>
																</div>
														</div>
														<div class = "12u$ 12u$(xsmall)">
																<div class = "form-group row">
																		<input id = "signInPassword" class = "form-control" name = "signInPassword" placeholder = "Contraseña" type = "password"/>
																</div>
														</div>
												</div>
										</div>
										<ul class = "actions">
												<li>
														<input type = "submit" class = "special" value = "Ingresar"/>
												</li>
												<li>
														<input type = "reset" class = "alt" value = "Registrarse" id = "go-sign-up"/>
												</li>
										</ul>
								</form>
								<div class = "panel-body">
										<form id = "sign-up-form" role = "form">
												<div class = "container 75%">
														<div class = "row uniform 50%">
																<div class = "12u 12u$(xsmall)">
																		<div class = "form-group row">
																				<input id = "identifier" class = "form-control" name = "identifier" placeholder = "Número de identificación" type = "text"/>
																		</div>
																</div>
																<div class = "12u 12u$(xsmall)">
																		<div class = "form-group row">
																				<input id = "name" class = "form-control" name = "name" placeholder = "Nombres" type = "text"/>
																		</div>
																</div>
																<div class = "12u 12u$(xsmall)">
																		<div class = "form-group row">
																				<input id = "lastName" class = "form-control" name = "lastName" placeholder = "Apellidos" type = "text"/>
																		</div>
																</div>
																<div class = "12u$ 12u$(xsmall)">
																		<div class = "form-group row">
																				<input id = "signUpEmail" class = "form-control" name = "signUpEmail" placeholder = "Correo electrónico" type = "email"/>
																		</div>
																</div>
																<div class = "12u$ 12u$(xsmall)">
																		<div class = "form-group row">
																				<input id = "signUpPassword" class = "form-control" name = "signUpPassword" placeholder = "Contraseña" type = "password"/>
																		</div>
																</div>
																<div class = "12u$ 12u$(xsmall)">
																		<div class = "form-group row">
																				<input id = "verifyPassword" class = "form-control" name = "verifyPassword" placeholder = "Verificar contraseña" type = "password"/>
																		</div>
																</div>
														</div>
												</div>
												<ul class = "actions">
														<li>
																<input type = "submit" class = "special" value = "Registrarse"/>
														</li>
														<li>
																<input type = "reset" class = "alt" value = "Volver" id = "go-sign-in"/>
														</li>
												</ul>
										</form>
								</div>
						</div>
				</section>
				<footer id="footer">
						<div class="inner">
								<ul class="icons">
										<li>
												<a href = "#" class = "icon fa-facebook">
														<span class = "label">Facebook</span>
												</a>
										</li>
										<li>
												<a href = "#" class = "icon fa-twitter">
														<span class = "label">Twitter</span>
												</a>
										</li>
										<li>
												<a href = "#" class = "icon fa-instagram">
														<span class = "label">Instagram</span>
												</a>
										</li>
										<li>
												<a href = "#" class = "icon fa-linkedin">
														<span class = "label">LinkedIn</span>
												</a>
										</li>
								</ul>
								<ul class="copyright">
										<li>{$applicationCompany}</li>
										<li>Imágenes: <a href="http://unsplash.com">Unsplash</a>.</li>
										<li>Diseño: <a href="http://templated.co">TEMPLATED</a>.</li>
								</ul>
						</div>
				</footer>
				<script src = "{$jquery}"></script>
				<script src = "views/User/js/skel.min.js"></script>
				<script src = "views/User/js/util.js"></script>
				<script src = "views/User/js/main.js"></script>
				<script src = "virtual_classroom/{$bootstrapJs}"></script>
				<script src = "{$bootstrapValidatorJs}"></script>
				<script src = "{$userJs}"></script>
		</body>
</html>
