<!DOCTYPE HTML>
<html>
	<head>
		<title>{$title}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />		
    	<link rel = "stylesheet" href = "{$bootstrapCss}"/>    				
    	<link rel = "stylesheet" href = "views/Course/css/main.css"/>
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href = "User?go=profile"><img class = "gravatar"/></a></h1>	
				<a href="Receives">Notificaciones <span class="badge"></span></a>
				<a href="#nav">Menú</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class = "links">
								<li>										
										<a href = "Index">
											<span class = "glyphicon glyphicon-home"></span>
											Inicio
										</a>
								</li>

								<li>
										<a href = "Course">
											<span class = "glyphicon glyphicon-book"></span>
											Cursos
										</a>
								</li>
								<li>
										<a href = "User?go=profile">
											<span class = "glyphicon glyphicon-education"></span>
											Perfil
										</a>
								</li>
								<li>										
										<a href = "User/control">
											<span class = "glyphicon glyphicon-user"></span>
											Control de usuarios
										</a>
								</li>
								<li>										
										<a href = "#">
											<span class = "glyphicon glyphicon-cog"></span>
											Configuración
										</a>
								</li>
								<li>
										<a id = "closeAccount" href = "#">
											<span class = "glyphicon glyphicon-log-out"></span>
											Salir
										</a>
								</li>
						</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>{$title}</h2>
						<p><span class = "glyphicon glyphicon-info-sign"></span> Solicitudes pendientes</p>
					</header>					
        </div>
        </section>

<!--=============================================================================================================-->		
        <div class = "container" id = "req-container">
        	{if $requests eq null}
	        	<div class = "panel panel-success" id = "no-ntf">
	        		<div class = "panel-heading">
	        			<h2>No hay solicitudes</h2>
	        		</div>	        	
	        		<div class = "panel-body">
	        			Cuando haya una nueva solicitud, se hará notorio en la barra de navegación
	        		</div>
	        	</div>
        	{/if}

        	{foreach from = $requests key = requestId item = values}
	        	<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">
							{if $values.type eq 0}
								Solicitud de rol
							{/if}
						</h3>
					</div>
					<div class="panel-body">
						<form role = "form">
							<div class = "form-group">
								<label>Nombres del emisor: {$values.user.name} {$values.user.last_name}</label>
								<label>Correo electrónico: {$values.user.email}</label>
								<label>
									Rol actual:
									{if $values.user.type eq 0}
										<span class = "label label-success">Administrador</span>
									{elseif $values.user.type eq 1}
										<span class = "label label-success">Docente</span>
									{elseif $values.user.type eq 2}
										<span class = "label label-success">Estudiante</span>
									{else}
										<span class = "label label-default">Desconocido</span>
									{/if} | 
									{if $values.body eq "teacher"}
										Petición de ascenso a <span class = "label label-success">docente</span>
									{elseif $values.body eq "admin"}
										Petición de ascenso a <span class = "label label-success">administrador</span>
									{elseif $values.body eq "student"}
										Petición de ascenso a <span class = "label label-success">estudiante</span>
									{else}
										Petición de ascenso <span class = "label label-default">desconocido</span>
									{/if}
								</label>
							</div>
							<div class = "form-group">
								<button id = "a{$values.id}" class = "btn btn-default" type = "button">Aceptar</button>
								<button id = "c{$values.id}" class = "btn btn-default" type = "button">Ignorar</button>
							</div>
						</form>
					</div>
				</div> 
			{/foreach}
		</div>
 <!--=============================================================================================================-->

			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
          <ul class="copyright">
              <li>{$applicationCompany}</li>
              <li>Imágenes: <a href="http://unsplash.com">Unsplash</a>.</li>
              <li>Diseño: <a href="http://templated.co">TEMPLATED</a>.</li>
          </ul>
				</div>
			</footer>
      	<script src = "{$jquery}"></script>
		<script src = "views/Course/js/skel.min.js"></script>
		<script src = "views/Course/js/util.js"></script>
		<script src = "views/Course/js/main.js"></script>
		<script src = "{$bootstrapJs}"></script>
		<script src = "{$receivesJs}"></script>		
	</body>
</html>
